<app-header-content title="Users" [breadcrumps]="breadcrumps"></app-header-content>
<div class="container" style="overflow: auto;">
  <div class="notification-container"></div>
  <content>
    <cds-table-container style="height: 525px;">
      <cds-table-header>
        <h4 cdsTableHeaderTitle>{{title}}</h4>
      </cds-table-header>
  
      <cds-table-toolbar
				[model]="model"
				#toolbar>
				<cds-table-toolbar-content >
		
				<custom-button (click)="navigateToRoute()">Create row</custom-button>
			
				</cds-table-toolbar-content>
			</cds-table-toolbar>

      <ng-template #overflowMenuItemTemplate let-data="data">
        <cds-overflow-menu>
          <cds-overflow-menu-option (click)="clickEdit(data)">
           Edit
          </cds-overflow-menu-option>
          <cds-overflow-menu-option (click)="clickDelete(data)">
            Delete
          </cds-overflow-menu-option>
          <cds-overflow-menu-option (click)="clickDetails(data)">
            Details
          </cds-overflow-menu-option>
         </cds-overflow-menu>
      </ng-template>
     
      <cds-table
      [model]="model"
    >
    </cds-table>
    </cds-table-container>
</content>
</div>

<cds-modal [open]="open"  (overlaySelected)="open = false" >
  <cds-modal-header (closeSelect)="open = false" [showCloseButton]="showCloseButton">
   <h1>Delete Item</h1>
      <p class="cds--modal-header__heading cds--type-beta">Are you sure you want to remove : {{datatoDelete.firstName}}</p>
  </cds-modal-header>
 <div class="cds--modal-content">
 </div>
  <cds-modal-footer>
     <ng-container>
       <button
             cdsButton="secondary"
             (click)="cancel()"
             [attr.modal-primary-focus]="true">
             Cancel
         </button>
         <button
             cdsButton="primary"
             (click)="confirmDelete()"
             [attr.modal-primary-focus]="true">
             Confirm
         </button>
     </ng-container>
  </cds-modal-footer>
</cds-modal>

