.nav{
    color: rgb(175, 169, 161);
 }
 
 .active-sideNav {
    margin-left: 3.8%; /* Active sideNav padding */
  }
  
  .inactive-sideNav {
    margin-left: 20.25%;  /* Inactive button padding */
  }
  ::ng-deep .cds--header {
    background-color: black !important;
    color: white !important;
  }
 
  ::ng-deep a.cds--header__name, a.cds--header__name:hover {
    color: white !important;
  }
 ::ng-deep .cds--header__menu-trigger > svg, .cds--header__menu-trigger > svg:hover {
    fill:white !important;
 }
 