<div class="container" >
    <cds-header name="[Platform]" [brand]="'Smartest'">
      <cds-hamburger (click)="expanded($event)" style="color: white;"></cds-hamburger>
    </cds-header>
  
<div class="nav">
  <cds-sidenav  [expanded]="active" style="margin-top: 3rem;border-right: 1px solid rgb(210, 210, 210);">
    
    <cds-sidenav-item [route]="['users']">
      <svg cdsIcon="fade" size="16"></svg>
Users    </cds-sidenav-item>
    <cds-sidenav-item [route]="['widgets']">
      <svg cdsIcon="fade" size="16"></svg>
      Widget settings
    </cds-sidenav-item>
</cds-sidenav>
</div>
  

  <div class="content" style="background-color: rgb(239, 238, 238);padding-right: 2%;padding-top: 5%;min-height: 650px;" [class]="!active ? 'active-sideNav' : 'inactive-sideNav'">
    <router-outlet></router-outlet>
  </div>

 

</div>

