<div class="container">
  <cds-header name="[Platform]" [brand]="'Smartest'">
    <cds-hamburger
      (click)="expanded($event)"
      style="color: white"
    ></cds-hamburger>
  </cds-header>
 
  <div class="nav">
    <cds-sidenav
      [expanded]="active"
      style="margin-top: 3rem; border-right: 1px solid rgb(210, 210, 210)"
    >
      <cds-sidenav-item [route]="['users']">
        <svg cdsIcon="fade" size="16"></svg>
        Users
      </cds-sidenav-item>
      <cds-sidenav-item [route]="['widgets']">
        <svg cdsIcon="fade" size="16"></svg>
        Widget settings
      </cds-sidenav-item>
      <cds-sidenav-item [route]="['table_poc_1']">
        <svg cdsIcon="fade" size="16"></svg>
        Table_poc_1
      </cds-sidenav-item>
      <cds-sidenav-item [route]="['table_poc_2']">
        <svg cdsIcon="fade" size="16"></svg>
        Table_poc_2
      </cds-sidenav-item>
      <cds-sidenav-item [route]="['table_poc_3']">
        <svg cdsIcon="fade" size="16"></svg>
        Table_poc_3
      </cds-sidenav-item>
      <!-- <cds-sidenav-item [route]="['table_poc_4']">
        <svg cdsIcon="fade" size="16"></svg>
        Table_poc_4
      </cds-sidenav-item> -->
      <cds-sidenav-item [route]="['test_poc']">
        <svg cdsIcon="fade" size="16"></svg>
        Other_components
      </cds-sidenav-item>
      <cds-sidenav-item [route]="['table_poc_5']">
        <svg cdsIcon="fade" size="16"></svg>
        Table_poc_5
      </cds-sidenav-item>
      <cds-sidenav-item [route]="['table_poc_6']">
        <svg cdsIcon="fade" size="16"></svg>
        Table_poc_6
      </cds-sidenav-item>
    </cds-sidenav>
  </div>

  <div class="content"
    style="
      background-color: rgb(239, 238, 238);
      margin-top: 48px;

    "
    [class]="!active ? 'active-sideNav' : 'inactive-sideNav'"
  >
    <router-outlet></router-outlet>
   
  </div>

  <div class="toast-container"></div>

</div>
