.container{
    display: grid;
    grid-template-columns: 3fr 1fr; 
}

.side_nav{
    background-color: rgb(245, 245, 245);
}

::ng-deep .cds--label {
    margin-block-end:0;
}

.form-field {
    margin-bottom: 16px;
  }

  .button-field{
    margin-top: 8px;
  }

  ::ng-deep .cds--btn--primary{
    width: 100%;
  }

  .check-field{
display: grid;
grid-template-columns: 1fr 3fr;
 margin-bottom: 10px;
  }

  ::ng-deep .check-field .cds--label {
    margin-top: 4px
}