<app-header-content title="Widget settings"[breadcrumps]="breadcrumps"></app-header-content>
<div class="container" style="height: 450px;" >
    <div *ngIf="!displaySettings" class="charts" style="display: flex;flex-direction: row;padding-right: 20%;justify-content: space-around;">
      <div class="content" style="display: flex;flex-direction: column;justify-content: space-around;">
        <span>Content Name : {{settingsObject.nameValue}}</span>
        <span>Content Description : {{settingsObject.descriptionValue}}</span>
        <span>Wellbore : {{settingsObject.wellboreValue}}</span>
        <span>Operation : {{settingsObject.operationsValue}}</span>
        <span>Section : {{settingsObject.sectionValue}}</span>
        <span>Tubular : {{settingsObject.tubularValue}}</span>
        <span>Entities : {{settingsObject.operationsValue}}</span>
      </div>
      <div class="settings" style="display: flex;flex-direction: column;justify-content: space-around;">
        <span>Type chart : {{settingsObject.chartTypeValue}}</span>
        <div *ngIf="settingsObject.xAxisName">
          <span>Name axis x : {{settingsObject.xAxisName}}</span>
          <span>Name axis y : {{settingsObject.yName}}</span>
        </div>
        <span>Pie size : {{settingsObject.pieSizeValue}}</span>
        <span>Color : {{settingsObject.valueColor}}</span>
      </div>
      
    </div>
    <div class="side_nav"  style="    position: absolute;
    right: 0;
    top: 127px;
    height: calc(100% - 161px);
    width: 300px;
">
    
        <cds-tabs
			[type]="'line'"
			[followFocus]="true"
			[isNavigation]="true"
			[cacheActive]="true">
			<cds-tab heading="Content" >
             <div >
              <div class="form-field">
                <cds-label>Name</cds-label>
                <cds-text-label [(value)]="nameValue"></cds-text-label>
              </div>
            
              <div class="form-field">
                <cds-label>Description</cds-label>
                <cds-textarea-label [(value)]="descriptionValue"></cds-textarea-label>
              </div>
            
              <div class="form-field">
                <cds-label>Wellbore</cds-label>
                <cds-combo-box [items]="wellboreData" [(values)]="wellboreValue">
                  <cds-dropdown-list></cds-dropdown-list>
                </cds-combo-box>
              </div>
            
              <div class="form-field">
                <cds-label>Operations</cds-label>
                <cds-combo-box [items]="operationsData" [(values)]="operationsValue">
                  <cds-dropdown-list></cds-dropdown-list>
                </cds-combo-box>
              </div>
            
              <div class="form-field">
                <cds-label>Section</cds-label>
                <cds-combo-box [items]="sectionData" [(values)]="sectionValue" [type]="'multi'">
                  <cds-dropdown-list></cds-dropdown-list>
                </cds-combo-box>
              </div>
            
              <div class="form-field">
                <cds-label>Tubular</cds-label>
                <cds-combo-box [items]="tubularData" [(values)]="tubularValue" [type]="'multi'">
                  <cds-dropdown-list></cds-dropdown-list>
                </cds-combo-box>
              </div>
            
              <div class="form-field">
                <cds-label>Entity</cds-label>
                <lib-tag-box [availableItems]="availableItems" (tagsChange)="tagsEntity"></lib-tag-box>
              </div>
             </div>
             
              
            
            </cds-tab>
			<cds-tab heading="Settings">
           <div>
            
           </div>
                <div class="form-field">
                <cds-label>Chart Type</cds-label>
                <cds-combo-box [items]="chartTypeData"  [(values)]="chartTypeValue" (valuesChange)="updateDate($event)"><cds-dropdown-list></cds-dropdown-list></cds-combo-box>
                </div>
                <div class="chart_type">

                    <div class="chart_type_line_or_bar" *ngIf="chartValue === 'Bar' || chartValue === 'Line'"> 

                        <div class="form-field">
                           <cds-label>X Axis Name</cds-label>
                           <cds-text-label [(value)]="xAxisName" ></cds-text-label>
                        </div>

                        <div class="form-field">
                            <cds-label>X Axis Unit</cds-label>
                            <cds-combo-box  [items]="xUnitData" [(values)]="xUnitValue"><cds-dropdown-list></cds-dropdown-list></cds-combo-box>
                        </div>
                      
                        <div class="form-field">
                            <cds-label>X Axis Min</cds-label>
                            <cds-number [(value)]="xMin"></cds-number>
                        </div>
                
                    <div class="form-field">
                            <cds-label>X Axis Max</cds-label>
                            <cds-number [(value)]="xMax"></cds-number>
                        </div>
                        
                        <div class="form-field">
                            <cds-label>Y Axis Name</cds-label>
                            <cds-text-label [(value)]="yName"></cds-text-label>
                        </div>
                   
                         <div class="form-field">
                            <cds-label>Y Axis Unit</cds-label>
                            <cds-combo-box [items]="yUnitData" [(values)]="yUnitValue"><cds-dropdown-list></cds-dropdown-list></cds-combo-box>
                        </div>
                      
                          <div class="form-field">
                            <cds-label>Y Axis Min</cds-label>
                            <cds-number [(value)]="yMin"></cds-number>
                        </div>

                        <div class="form-field">
                            <cds-label>Y Axis Max</cds-label>
                            <cds-number [(value)]="yMax"></cds-number>
                        </div>
                        
                    </div>
                    <div class="chart_type_pie" *ngIf="chartValue === 'Pie'">
                      <!-- <div class="form-field">
                        <cds-label>Y Axis Unit</cds-label>
                        <cds-combo-box [items]="xUnitData" [(values)]="xUnitValue"><cds-dropdown-list></cds-dropdown-list></cds-combo-box>
                    </div> -->
                         <div class="form-field">         
                             <cds-label>Pie size</cds-label>
                         <cds-number [displayFormat]="format" [min]="0" [max]="100" [(value)]="pieSizeValue"></cds-number>
                    </div>
                </div>

         <div class="form-field">         
              <!-- <cds-label>Pick a color</cds-label> -->
              <lib-colorpicker [(value)]="valueColor"></lib-colorpicker>
         </div>

           <div class="check-field">
            
            <cds-checkbox [(checked)]="legendState"></cds-checkbox>
            <cds-label>Show legend</cds-label>
           </div>


           <div class="form-field">
            <cds-label>Legend position</cds-label>
            <cds-combo-box [items]="positions" [(values)]="positionLegendValue"><cds-dropdown-list></cds-dropdown-list></cds-combo-box>
           </div>

                </div>
                <!-- <div class="button-field">
                <custom-button (click)="applySettings()">Apply</custom-button>
                </div> -->
            </cds-tab>
		</cds-tabs>
    <div class="button-field">
      <custom-button style="width: 100%;" (click)="apply()">Apply</custom-button>
    </div>
  

    </div>

</div>
