<div class="content">
    <div class="login">
        <h2>Login</h2>
        <div class="form">
            <lib-form [formControls]="formControls" [(formData)]="form_data"></lib-form>
        </div>
        <div *ngIf="isActive">
            <cds-loading [isActive]="isActive"  [overlay]="overlay"></cds-loading>

        </div>
        <div class="actions">
              <button
              (click)="login()"
              ibmButton="primary"
              style="width: 200px;"
            >
             Login
            </button>
            
        </div>
    </div>
</div>
