<cds-table-container>
  <cds-table-header>
    <h4 cdsTableHeaderTitle>{{ title }}</h4>
    <p cdsTableHeaderDescription>Inline actions | DataSummary.</p>
  </cds-table-header>

  <div
    class="table-container"
    [attr.style]="showFilter ? 'overflow-x: visible;' : 'overflow-x: auto'"
  >
    <cds-table
      [model]="model"
      size="md"
      [skeleton]="skeleton"
      [showSelectionColumn]="showSelectionColumn"
      [enableSingleSelect]="enableSingleSelect"
      (rowClick)="onRowClick($event)"
      [sortable]="sortable"
      [stickyHeader]="stickyHeader"
      [striped]="striped"
      [isDataGrid]="isDataGrid"
      [dataSummary]="true"
      [ariaLabelledby]="ariaLabelledby"
      [ariaDescribedby]="ariaDescribedby"
      [allowUpdating]="allowUpdating"
      [allowAdding]="allowAdding"
      [allowDeleting]="allowDeleting"
      [showFilter]="showFilter"
      [attr.style]="showFilter ? 'overflow-x: visible;' : ''"
    >
      <ng-content></ng-content>
    </cds-table>
  </div>
</cds-table-container>
