<div class="header">

    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="header_content">
        <div class="breadcrumb">
            <cds-breadcrumb [noTrailingSlash]="true">
                <cds-breadcrumb-item href="#1">
                    Breadcrumb 1
                </cds-breadcrumb-item>
                <cds-breadcrumb-item href="#2">
                    Breadcrumb 2
                </cds-breadcrumb-item>
                <cds-breadcrumb-item href="#3">
                    Breadcrumb 3
                </cds-breadcrumb-item>
            </cds-breadcrumb>
          </div>
          <div class="action" *ngIf="action">
            ssss
          </div>
    </div>
  
</div>