<div class="header">

    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="header_content">
        <div class="breadcrumb">
            <cds-breadcrumb [items]="breadcrumps" [noTrailingSlash]="true">

               
                <!-- <cds-breadcrumb-item *ngIf="breadcrumps[1]" href="{{breadcrumps[1].route}}">
                    {{breadcrumps[1].title}}
                </cds-breadcrumb-item>
                <cds-breadcrumb-item *ngIf="breadcrumps[2]" href="{{breadcrumps[2].route}}">
                    {{breadcrumps[2].title}}
                </cds-breadcrumb-item> -->
            </cds-breadcrumb>
          </div>
          <div class="action" *ngIf="action">
          </div>
    </div>
  
</div>