<cds-table-container>
  <cds-table-header>
    <h4 cdsTableHeaderTitle>{{ title }}</h4>
    <p cdsTableHeaderDescription>Grouped-by + Lookup column + templates.</p>
  </cds-table-header>

  <cds-table-toolbar
    [model]="model"
    [batchText]="batchText"
    size="md"
    [enableSearch]="enableSearch"
    [searchProperties]="searchProperties"
    #toolbar
  >
    <cds-table-toolbar-content>
      <div style="display: flex; justify-content: center; align-items: center">
        <cds-checkbox [checked]="true" (checkedChange)="expandAllRows($event)" [disabled]="false"
          >Expand All</cds-checkbox
        >
      </div>
    </cds-table-toolbar-content>
  </cds-table-toolbar>

  <ng-template #statusesTemplate let-data="data">
    <div style="display: flex; justify-content: center">
      <span class="status running" *ngIf="data.status === 'running'"
        >Running</span
      >
      <span class="status inactive" *ngIf="data.status === 'inactive'"
        >Inactive</span
      >
      <span class="status completed" *ngIf="data.status === 'completed'"
        >Completed</span
      >
    </div>
  </ng-template>

  <ng-template #actionsTemplate let-data="data">
    <div style="display: flex; justify-content: center">
      <button
        class="action-button start"
        *ngIf="data.status === 'inactive'"
        (click)="start(data)"
      >
        Start
      </button>
      <button
        class="action-button stop"
        *ngIf="data.status !== 'inactive'"
        (click)="stop(data)"
      >
        Stop
      </button>
      <button
        class="action-button pause"
        *ngIf="data.status !== 'inactive'"
        (click)="complete(data)"
      >
        Finish
      </button>
    </div>
  </ng-template>

  <div class="table-container">
    <cds-table
      [model]="model"
      [sortable]="sortable"
      [showSelectionColumn]="false"
      [dataSummary]="false"
      [showFilter]="true"
      [attr.style]="true ? 'overflow-x: visible;' : ''"
    >
      <ng-content></ng-content>
    </cds-table>
  </div>
</cds-table-container>
